---
import { Icon } from "astro-icon";
import BaseLayout from "@/layout/BaseLayout.astro";
import { type CollectionEntry, getCollection } from "astro:content";

const tagsPosts = (await getCollection("posts")).filter(
  (post) => post.data.tags
);

const uniqueTag = [...new Set(tagsPosts.map((post) => post.data.tags).flat())];
---

<BaseLayout>
  <div class="content">
    <div class="container">
      <div class="tagslist contentRadius">
      {
        uniqueTag &&
          uniqueTag.map((tag) => {
            return (
              <div class="card">
                <a href={"tags/" + tag}>
                  <div class="icon">
                    <Icon name="tag" />
                  </div>
                  <div class="tag">{tag}</div>
                </a>
              </div>
            );
          })
      }

      </div>
    </div>
  </div>
</BaseLayout>

<style>
  .content{
    flex-grow: 1;
    padding: 0 8px;
  }
  .tagslist {
    flex-grow: 1;
    display: flex;
    background: #fff;
    flex-wrap:wrap;
    justify-content: space-around;
    min-width: 0px;
    max-width: 100%;
    .card {
      padding: 8px;
      width: 25%;
      --height: 20px;
      a {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 9px;
        padding: 0 8px;
        color: #555;
        -webkit-box-shadow: 7px 3px 15px -4px #333;
        box-shadow: 7px 3px 15px -4px #333;
        &:hover {
          color: var(--hovercolor);
          text-decoration: underline;
        }
      }
      .icon {
        width: 16px;
        height: 16px;
      }
      .tag {
        cursor: pointer;
        padding: 8px;
        height: var(--height);
        line-height: var(--height);
      }
    }
  }
</style>
