---
import { Icon } from "astro-icon";
import BaseLayout from "@/layout/BaseLayout.astro";
import { type CollectionEntry, getCollection } from "astro:content";

const tagsPosts = (await getCollection("blog")).filter(
  (post) => post.data.tags
);

const uniqueTag = [...new Set(tagsPosts.map((post) => post.data.tags).flat())];
---

<BaseLayout>
  <div class="tagslist">
    {
      uniqueTag &&
        uniqueTag.map((tag) => {
          return (
            <div class="card">
              <a href={"tags/" + tag}>
                <div class="icon">
                  <Icon name="tag" />
                </div>
                <div class="tag">{tag}</div>
              </a>
            </div>
          );
        })
    }
  </div>
</BaseLayout>

<style>
  .tagslist {
    display: flex;
    background: #fff;
    border-radius: 4px;
    .card {
      padding: 8px;
      width: 25%;
      --heihht: 20px;
      a {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 9px;
        padding: 0 8px;
      }
      .icon {
        width: 16px;
        height: 16px;
      }
      .tag {
        cursor: pointer;
        padding: 8px;
        height: var(--heihht);
        line-height: var(--heihht);

        color: #555;
        &:hover {
          color: var(--hovercolor);
          text-decoration: underline;
        }
      }
    }
  }
</style>
