---
import "@/style/waline.css";
---

<div class="wallcontainer shadows">
  <div class="info flex">
    <div class="readcount">
      阅读量: <span class="waline-pageview-count" data-path="<Your/Path/Name>"
      ></span>
    </div>
     当前页共有<span
      class="waline-comment-count"
      data-path="/guide/client/count.html"></span>条评论
  </div>
  <div id="waline"></div>
</div>
<script>
  import { init } from "../script/waline.mjs";

  init({
    el: "#waline",
    pageview: true, // 浏览量统计
    comment: true, // 评论数统计
    // serverURL: "comment backend url",
    serverURL: "http://192.168.6.172:8360",
  });
</script>

<style>
  .wallcontainer {
    box-sizing: border-box;
    background: #fff;
    border-radius: 14px;
    /* padding: 10px; */
    padding: 12px 3px 0;
    /* margin: 12px 22px; */
    /* margin: 12px 3px 0; */
    .info {
      justify-content: center;
      .readcount {
        margin-right: 16px;
      }
    }
  }
  @media screen and (min-width: 636px) {
    .wallcontainer {
      /* margin: 18px 16px 0; */
      margin: 18px 3px 0;
      -webkit-box-shadow: 7px 3px 15px -4px #333;
      box-shadow: 7px 3px 15px -4px #333;
      &:hover {
        -webkit-box-shadow: 3px 3px 12px 7px #333;
        box-shadow: 3px 3px 12px 7px #333;
      }
    }
  }
</style>
