---
import { Image } from "astro:assets";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";

import avatar from "@/assets/avatar/avatar.jpg";
---

<header class="header">
  <div class="profile">
    <Image src={avatar} alt="descriptive text" width="184" height="184" />
    <a href="/blog" class="info hovereffect">Kolderwh's 部落阁</a>
  </div>
  <Navigation />
  <!-- <ThemeIcon /> -->
</header>

<style>
  .header {
    background: inherit;
    background: rgba(255, 255, 255, 0.96);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #999;
    z-index: 2;
  }
  .profile {
    display: flex;
    align-items: center;
    img {
      display: none;
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
    .info {
      font-weight: bold;
    }
  }
  @media screen and (max-width: 636px) {
    .header {
      font-size: 16px;
      .profile {
        img {
          display: block;
        }
      }
    }
  }
</style>
