---
const { color = "#333", url } = Astro.props;
---

<li>
  <a href={url}><slot /></a>
</li>

<style define:vars={{ color }}>
  li {
    width: 35px;
    height: 35px;
    margin: 0 10px;
    a {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      padding: 4px;
      color: var(--color);
    }
    &:hover {
      a {
        color: var(--hovercolor);
      }
    }
  }
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
