---
const { pageCount, current } = Astro.props;
const pageList = Array.from({ length: pageCount }, (_, index) => index + 1);
---

<div class="pagination">
  {
    pageList.map((page) => {
      return (
        <a href={"/blog/" + page}>
          <div class:list={["item", { active: current == page }]}>
            <span>{page}</span>
          </div>
        </a>
      );
    })
  }
</div>

<style>
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .item {
      cursor: pointer;
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      background: #fff;
      border-radius: 6px;
      &:hover {
        background-color: #333;
        color: #fff;
        -webkit-box-shadow: 3px 3px 12px #333;
        box-shadow: 3px 3px 12px #333;
      }
    }
    .active {
      background-color: #333;
      color: #fff;
    }
  }
</style>
