---
const { pageTitle } = Astro.props;
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

import Totop from "@/components/totop/Totop.jsx";

import "@/style/global.css";
---

<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <div class="container">
      <slot />
    </div>
    <Footer />
    <Totop client:load />
  </body>
</html>
