---
import BaseLayout from "./BaseLayout.astro";
import "@/style/markdown.css";
const formatImgul = (url) => {
  return "/src/assets/img" + url;
};

const { title, description, pubDate, tags } = Astro.props;
---

<BaseLayout pageTitle={title}>
  <div class="blog">
    <h1 class="title">{title}</h1>
    <div class="desc">{description}</div>
    <div class="date">
      <p>pub {pubDate}</p>
    </div>
    <article class="article">
      <slot />
    </article>
  </div>
</BaseLayout>

<style>
  .blog {
    margin: 10px 0;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 32px;
    text-align: justify;
  }
  .title {
    margin: 8px 0;
  }
  .date {
    font-size: 12px;
    color: #999;
    .tags {
      font-size: 14px;
    }
  }
  @media screen and (min-width: 636px) {
    .blog {
      padding: 2px 42px;
      blockquote {
        margin: 0 18px;
      }
    }
  }
</style>
